#tsparticles {
    z-index: -1;
}

//custom scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-cat-base;
}

::-webkit-scrollbar-thumb {
    @apply bg-cat-pink rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-cat-sapphire;
}

::moz-scrollbar {
    width: 10px;
}

::moz-scrollbar-track {
    @apply bg-cat-base;
}

::moz-scrollbar-thumb {
    @apply bg-cat-pink rounded-full;
}

::moz-scrollbar-thumb:hover {
    @apply bg-cat-sapphire;
}

//custom transition for blog pages :D
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.slide-in-text {
  a, h1, h2, h3, h4, h5, h6, p, ol, ul pre, {
    transition: all 0.4s;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-delay: 0.25s;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
